.resume{
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.experience{
    width: 70%;
    flex-grow: 2;
}

.resume aside{
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    
    gap: 2em
}

.netto {
    margin-left: 11em
}

.avisbud {
    margin-left: 4em;
}

.tekniskeSkole{
    margin-left: 14em;
}

.privatSkole{
    margin-left: 11em;
}

.efterSkole{
    margin-left: 3em;
}

.folkeSkole{
    margin-left: 2em;
}